<mat-grid-list cols="3" rowHeight="2:1" gutterSize="16px" class="grid-list">
    <mat-grid-tile *ngFor="let project of projects">
      <mat-card class="project-card">
        <mat-card-header>
          <mat-card-title>{{ project.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ project.description }}</p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button color="primary" [href]="project.link" target="_blank">View Project</a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  